*{
font-size:40px	;
font-family:Arial;
}

.nav{
background-color:black;
}

.nav a{
color:white;
text-decoration:none;
margin:5%;
}

.nav a:hover{
background-color:white;
color:black;
cursor:pointer;
}